function Screen.init 0
push constant 0
not
pop static 0
push constant 16384
pop static 1
push constant 0
return
function Screen.clearScreen 1
push constant 0
pop local 0
label WHILE_START_Screen.clearScreen1
push local 0
push constant 8192
lt
not
if-goto WHILE_END_Screen.clearScreen1
push static 1
push local 0
add
pop pointer 1
push that 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_START_Screen.clearScreen1
label WHILE_END_Screen.clearScreen1
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 0
push constant 0
return
function Screen.drawPixel 2
push static 1
push argument 1
push constant 32
call Math.multiply 2
add
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push argument 0
push constant 15
and
call Math.two_to_the_power_of 1
pop local 1
push static 0
not
if-goto Screen.drawPixel.IfElse1
push local 0
push constant 0
add
pop pointer 1
push local 0
push constant 0
add
pop pointer 1
push that 0
push local 1
or
pop that 0
label Screen.drawPixel.IfElse1
push local 0
push constant 0
add
pop pointer 1
push local 0
push constant 0
add
pop pointer 1
push that 0
push local 1
not
and
pop that 0
push constant 0
return
function Screen.drawLine 7
push argument 0
push argument 2
eq
not
if-goto Screen.drawLine.IfElse1
push argument 1
push argument 3
gt
not
if-goto Screen.drawLine.IfElse2
push argument 1
pop local 6
push argument 3
pop argument 1
push local 6
pop argument 3
label Screen.drawLine.IfElse2
push argument 1
pop local 4
label WHILE_START_Screen.drawLine1
push local 4
push argument 3
gt
not
not
if-goto WHILE_END_Screen.drawLine1
push argument 0
push local 4
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 1
add
pop local 4
goto WHILE_START_Screen.drawLine1
label WHILE_END_Screen.drawLine1
push constant 0
return
label Screen.drawLine.IfElse1
push argument 1
push argument 3
eq
not
if-goto Screen.drawLine.IfElse3
push argument 0
push argument 2
gt
not
if-goto Screen.drawLine.IfElse4
push argument 0
pop local 6
push argument 2
pop argument 0
push local 6
pop argument 2
label Screen.drawLine.IfElse4
push argument 0
pop local 3
label WHILE_START_Screen.drawLine2
push local 3
push argument 2
gt
not
not
if-goto WHILE_END_Screen.drawLine2
push local 3
push argument 1
call Screen.drawPixel 2
pop temp 0
push local 3
push constant 1
add
pop local 3
goto WHILE_START_Screen.drawLine2
label WHILE_END_Screen.drawLine2
push constant 0
return
label Screen.drawLine.IfElse3
push argument 0
push argument 2
gt
not
if-goto Screen.drawLine.IfElse5
push argument 0
pop local 6
push argument 2
pop argument 0
push local 6
pop argument 2
push argument 1
pop local 6
push argument 3
pop argument 1
push local 6
pop argument 3
label Screen.drawLine.IfElse5
push argument 2
push argument 0
sub
pop local 0
push argument 3
push argument 1
sub
pop local 1
push constant 1
pop local 5
push local 1
push constant 0
lt
not
if-goto Screen.drawLine.IfElse6
push local 1
neg
pop local 1
push constant 1
neg
pop local 5
label Screen.drawLine.IfElse6
push constant 0
pop local 3
push constant 0
pop local 4
push constant 0
pop local 2
label WHILE_START_Screen.drawLine3
push local 3
push local 0
gt
not
not
if-goto WHILE_END_Screen.drawLine3
push argument 0
push local 3
add
push argument 1
push local 4
add
call Screen.drawPixel 2
pop temp 0
push local 2
push local 1
add
pop local 2
push local 2
push local 0
lt
not
not
if-goto Screen.drawLine.IfElse7
push local 4
push local 5
add
pop local 4
push local 2
push local 0
sub
pop local 2
label Screen.drawLine.IfElse7
push local 3
push constant 1
add
pop local 3
goto WHILE_START_Screen.drawLine3
label WHILE_END_Screen.drawLine3
push constant 0
return
function Screen.drawRectangle 2
push argument 0
push argument 2
gt
not
if-goto Screen.drawRectangle.IfElse1
push argument 0
pop local 0
push argument 2
pop argument 0
push local 0
pop argument 2
label Screen.drawRectangle.IfElse1
push argument 1
push argument 3
gt
not
if-goto Screen.drawRectangle.IfElse2
push argument 1
pop local 0
push argument 3
pop argument 1
push local 0
pop argument 3
label Screen.drawRectangle.IfElse2
push argument 1
pop local 1
label WHILE_START_Screen.drawRectangle1
push local 1
push argument 3
gt
not
not
if-goto WHILE_END_Screen.drawRectangle1
push argument 0
push local 1
push argument 2
push local 1
push pointer 0
call Screen.drawLine 5
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_START_Screen.drawRectangle1
label WHILE_END_Screen.drawRectangle1
push constant 0
return
function Screen.drawCircle 3
push argument 2
push constant 181
gt
not
if-goto Screen.drawCircle.IfElse1
push constant 0
return
label Screen.drawCircle.IfElse1
push argument 2
push argument 2
call Math.multiply 2
pop local 2
push argument 2
neg
pop local 1
label WHILE_START_Screen.drawCircle1
push local 1
push argument 2
gt
not
not
if-goto WHILE_END_Screen.drawCircle1
push argument 2
neg
pop local 0
label WHILE_START_Screen.drawCircle2
push local 0
push argument 2
gt
not
not
if-goto WHILE_END_Screen.drawCircle2
push local 0
push local 0
call Math.multiply 2
push local 1
push local 1
call Math.multiply 2
add
push local 2
gt
not
not
if-goto Screen.drawCircle.IfElse2
push argument 0
push local 0
add
push argument 1
push local 1
add
push pointer 0
call Screen.drawPixel 3
pop temp 0
label Screen.drawCircle.IfElse2
push local 0
push constant 1
add
pop local 0
goto WHILE_START_Screen.drawCircle2
label WHILE_END_Screen.drawCircle2
push local 1
push constant 1
add
pop local 1
goto WHILE_START_Screen.drawCircle1
label WHILE_END_Screen.drawCircle1
push constant 0
return
