function Display.init 3
push constant 10
call String.new 1
pop static 1
push constant 10
call String.new 1
pop static 2
push constant 8
call String.new 1
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop static 3
push constant 13
call String.new 1
push constant 47
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop static 4
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
pop static 5
push constant 16384
pop static 6
push constant 16
call Memory.alloc 1
pop static 0
push constant 0
pop local 0
push constant 3
pop local 1
push constant 1
pop local 2
label Display.init_WHILE_EXP1
push local 0
push constant 16
lt
not
if-goto Display.init_WHILE_END1
push local 2
push static 0
push local 0
add
pop pointer 1
pop that 0
push local 0
push constant 1
add
pop local 0
push local 1
push local 1
add
push local 1
add
push local 1
add
pop local 1
push local 2
push local 2
add
pop local 2
goto Display.init_WHILE_EXP1
label Display.init_WHILE_END1
push constant 0
return
function Display.walls 8
push constant 0
pop local 1
push constant 0
pop local 0
label Display.walls_WHILE_EXP1
push local 1
push constant 32
lt
not
if-goto Display.walls_WHILE_END1
push constant 0
pop static 7
push constant 0
pop static 8
push constant 0
pop static 9
push constant 0
pop static 10
push constant 0
pop static 11
push constant 0
pop static 12
push constant 0
pop static 13
push constant 0
pop static 14
push constant 7
pop static 15
push constant 7
pop static 16
push constant 7
pop static 17
push constant 7
pop static 18
push constant 7
pop static 19
push constant 7
pop static 20
push constant 7
pop static 21
push constant 7
pop static 22
push constant 256
pop static 39
push constant 256
pop static 40
push constant 256
pop static 41
push constant 256
pop static 42
push constant 256
pop static 43
push constant 256
pop static 44
push constant 256
pop static 45
push constant 256
pop static 46
push argument 1
push local 0
add
pop pointer 1
push that 0
pop static 47
push argument 0
push local 0
add
pop pointer 1
push that 0
pop static 55
push argument 1
push local 0
push constant 1
add
add
pop pointer 1
push that 0
pop static 48
push argument 0
push local 0
push constant 1
add
add
pop pointer 1
push that 0
pop static 56
push argument 1
push local 0
push constant 2
add
add
pop pointer 1
push that 0
pop static 49
push argument 0
push local 0
push constant 2
add
add
pop pointer 1
push that 0
pop static 57
push argument 1
push local 0
push constant 3
add
add
pop pointer 1
push that 0
pop static 50
push argument 0
push local 0
push constant 3
add
add
pop pointer 1
push that 0
pop static 58
push argument 1
push local 0
push constant 4
add
add
pop pointer 1
push that 0
pop static 51
push argument 0
push local 0
push constant 4
add
add
pop pointer 1
push that 0
pop static 59
push argument 1
push local 0
push constant 5
add
add
pop pointer 1
push that 0
pop static 52
push argument 0
push local 0
push constant 5
add
add
pop pointer 1
push that 0
pop static 60
push argument 1
push local 0
push constant 6
add
add
pop pointer 1
push that 0
pop static 53
push argument 0
push local 0
push constant 6
add
add
pop pointer 1
push that 0
pop static 61
push argument 1
push local 0
push constant 7
add
add
pop pointer 1
push that 0
pop static 54
push argument 0
push local 0
push constant 7
add
add
pop pointer 1
push that 0
pop static 62
push static 47
push constant 128
and
push constant 0
eq
not
pop static 23
push static 47
push constant 256
and
push constant 0
eq
not
pop static 31
push static 48
push constant 128
and
push constant 0
eq
not
pop static 24
push static 48
push constant 256
and
push constant 0
eq
not
pop static 32
push static 49
push constant 128
and
push constant 0
eq
not
pop static 25
push static 49
push constant 256
and
push constant 0
eq
not
pop static 33
push static 50
push constant 128
and
push constant 0
eq
not
pop static 26
push static 50
push constant 256
and
push constant 0
eq
not
pop static 34
push static 51
push constant 128
and
push constant 0
eq
not
pop static 27
push static 51
push constant 256
and
push constant 0
eq
not
pop static 35
push static 52
push constant 128
and
push constant 0
eq
not
pop static 28
push static 52
push constant 256
and
push constant 0
eq
not
pop static 36
push static 53
push constant 128
and
push constant 0
eq
not
pop static 29
push static 53
push constant 256
and
push constant 0
eq
not
pop static 37
push static 54
push constant 128
and
push constant 0
eq
not
pop static 30
push static 54
push constant 256
and
push constant 0
eq
not
pop static 38
push constant 4064
push local 1
add
pop local 3
push constant 4096
push local 1
add
pop local 5
push constant 63
pop local 2
label Display.walls_WHILE_EXP2
push local 2
push constant 1
neg
gt
not
if-goto Display.walls_WHILE_END2
push constant 0
pop local 4
push constant 0
pop local 6
push static 15
push constant 1
neg
gt
if-goto Display.walls$IF_TRUE1
goto Display.walls$IF_END1
label Display.walls$IF_TRUE1
push static 23
if-goto Display.walls$IF_TRUE2
goto Display.walls$IF_END2
label Display.walls$IF_TRUE2
push local 4
push constant 3
add
pop local 4
label Display.walls$IF_END2
push static 31
if-goto Display.walls$IF_TRUE3
goto Display.walls$IF_END3
label Display.walls$IF_TRUE3
push local 6
push constant 3
add
pop local 6
label Display.walls$IF_END3
label Display.walls$IF_END1
push static 7
push static 55
add
pop static 7
label Display.walls_WHILE_EXP3
push static 7
push constant 512
gt
not
if-goto Display.walls_WHILE_END3
push static 7
push constant 512
sub
pop static 7
push static 15
push constant 1
sub
pop static 15
push static 39
push static 39
add
pop static 39
push static 47
push static 0
push static 15
add
pop pointer 1
push that 0
and
push constant 0
eq
not
pop static 23
push static 47
push static 39
and
push constant 0
eq
not
pop static 31
goto Display.walls_WHILE_EXP3
label Display.walls_WHILE_END3
push static 16
push constant 1
neg
gt
if-goto Display.walls$IF_TRUE4
goto Display.walls$IF_END4
label Display.walls$IF_TRUE4
push static 24
if-goto Display.walls$IF_TRUE5
goto Display.walls$IF_END5
label Display.walls$IF_TRUE5
push local 4
push constant 12
add
pop local 4
label Display.walls$IF_END5
push static 32
if-goto Display.walls$IF_TRUE6
goto Display.walls$IF_END6
label Display.walls$IF_TRUE6
push local 6
push constant 12
add
pop local 6
label Display.walls$IF_END6
label Display.walls$IF_END4
push static 8
push static 56
add
pop static 8
label Display.walls_WHILE_EXP4
push static 8
push constant 512
gt
not
if-goto Display.walls_WHILE_END4
push static 8
push constant 512
sub
pop static 8
push static 16
push constant 1
sub
pop static 16
push static 40
push static 40
add
pop static 40
push static 48
push static 0
push static 16
add
pop pointer 1
push that 0
and
push constant 0
eq
not
pop static 24
push static 48
push static 40
and
push constant 0
eq
not
pop static 32
goto Display.walls_WHILE_EXP4
label Display.walls_WHILE_END4
push static 17
push constant 1
neg
gt
if-goto Display.walls$IF_TRUE7
goto Display.walls$IF_END7
label Display.walls$IF_TRUE7
push static 25
if-goto Display.walls$IF_TRUE8
goto Display.walls$IF_END8
label Display.walls$IF_TRUE8
push local 4
push constant 48
add
pop local 4
label Display.walls$IF_END8
push static 33
if-goto Display.walls$IF_TRUE9
goto Display.walls$IF_END9
label Display.walls$IF_TRUE9
push local 6
push constant 48
add
pop local 6
label Display.walls$IF_END9
label Display.walls$IF_END7
push static 9
push static 57
add
pop static 9
label Display.walls_WHILE_EXP5
push static 9
push constant 512
gt
not
if-goto Display.walls_WHILE_END5
push static 9
push constant 512
sub
pop static 9
push static 17
push constant 1
sub
pop static 17
push static 41
push static 41
add
pop static 41
push static 49
push static 0
push static 17
add
pop pointer 1
push that 0
and
push constant 0
eq
not
pop static 25
push static 49
push static 41
and
push constant 0
eq
not
pop static 33
goto Display.walls_WHILE_EXP5
label Display.walls_WHILE_END5
push static 18
push constant 1
neg
gt
if-goto Display.walls$IF_TRUE10
goto Display.walls$IF_END10
label Display.walls$IF_TRUE10
push static 26
if-goto Display.walls$IF_TRUE11
goto Display.walls$IF_END11
label Display.walls$IF_TRUE11
push local 4
push constant 192
add
pop local 4
label Display.walls$IF_END11
push static 34
if-goto Display.walls$IF_TRUE12
goto Display.walls$IF_END12
label Display.walls$IF_TRUE12
push local 6
push constant 192
add
pop local 6
label Display.walls$IF_END12
label Display.walls$IF_END10
push static 10
push static 58
add
pop static 10
label Display.walls_WHILE_EXP6
push static 10
push constant 512
gt
not
if-goto Display.walls_WHILE_END6
push static 10
push constant 512
sub
pop static 10
push static 18
push constant 1
sub
pop static 18
push static 42
push static 42
add
pop static 42
push static 50
push static 0
push static 18
add
pop pointer 1
push that 0
and
push constant 0
eq
not
pop static 26
push static 50
push static 42
and
push constant 0
eq
not
pop static 34
goto Display.walls_WHILE_EXP6
label Display.walls_WHILE_END6
push static 19
push constant 1
neg
gt
if-goto Display.walls$IF_TRUE13
goto Display.walls$IF_END13
label Display.walls$IF_TRUE13
push static 27
if-goto Display.walls$IF_TRUE14
goto Display.walls$IF_END14
label Display.walls$IF_TRUE14
push local 4
push constant 768
add
pop local 4
label Display.walls$IF_END14
push static 35
if-goto Display.walls$IF_TRUE15
goto Display.walls$IF_END15
label Display.walls$IF_TRUE15
push local 6
push constant 768
add
pop local 6
label Display.walls$IF_END15
label Display.walls$IF_END13
push static 11
push static 59
add
pop static 11
label Display.walls_WHILE_EXP7
push static 11
push constant 512
gt
not
if-goto Display.walls_WHILE_END7
push static 11
push constant 512
sub
pop static 11
push static 19
push constant 1
sub
pop static 19
push static 43
push static 43
add
pop static 43
push static 51
push static 0
push static 19
add
pop pointer 1
push that 0
and
push constant 0
eq
not
pop static 27
push static 51
push static 43
and
push constant 0
eq
not
pop static 35
goto Display.walls_WHILE_EXP7
label Display.walls_WHILE_END7
push static 20
push constant 1
neg
gt
if-goto Display.walls$IF_TRUE16
goto Display.walls$IF_END16
label Display.walls$IF_TRUE16
push static 28
if-goto Display.walls$IF_TRUE17
goto Display.walls$IF_END17
label Display.walls$IF_TRUE17
push local 4
push constant 3072
add
pop local 4
label Display.walls$IF_END17
push static 36
if-goto Display.walls$IF_TRUE18
goto Display.walls$IF_END18
label Display.walls$IF_TRUE18
push local 6
push constant 3072
add
pop local 6
label Display.walls$IF_END18
label Display.walls$IF_END16
push static 12
push static 60
add
pop static 12
label Display.walls_WHILE_EXP8
push static 12
push constant 512
gt
not
if-goto Display.walls_WHILE_END8
push static 12
push constant 512
sub
pop static 12
push static 20
push constant 1
sub
pop static 20
push static 44
push static 44
add
pop static 44
push static 52
push static 0
push static 20
add
pop pointer 1
push that 0
and
push constant 0
eq
not
pop static 28
push static 52
push static 44
and
push constant 0
eq
not
pop static 36
goto Display.walls_WHILE_EXP8
label Display.walls_WHILE_END8
push static 21
push constant 1
neg
gt
if-goto Display.walls$IF_TRUE19
goto Display.walls$IF_END19
label Display.walls$IF_TRUE19
push static 29
if-goto Display.walls$IF_TRUE20
goto Display.walls$IF_END20
label Display.walls$IF_TRUE20
push local 4
push constant 12288
add
pop local 4
label Display.walls$IF_END20
push static 37
if-goto Display.walls$IF_TRUE21
goto Display.walls$IF_END21
label Display.walls$IF_TRUE21
push local 6
push constant 12288
add
pop local 6
label Display.walls$IF_END21
label Display.walls$IF_END19
push static 13
push static 61
add
pop static 13
label Display.walls_WHILE_EXP9
push static 13
push constant 512
gt
not
if-goto Display.walls_WHILE_END9
push static 13
push constant 512
sub
pop static 13
push static 21
push constant 1
sub
pop static 21
push static 45
push static 45
add
pop static 45
push static 53
push static 0
push static 21
add
pop pointer 1
push that 0
and
push constant 0
eq
not
pop static 29
push static 53
push static 45
and
push constant 0
eq
not
pop static 37
goto Display.walls_WHILE_EXP9
label Display.walls_WHILE_END9
push static 22
push constant 1
neg
gt
if-goto Display.walls$IF_TRUE22
goto Display.walls$IF_END22
label Display.walls$IF_TRUE22
push static 30
if-goto Display.walls$IF_TRUE23
goto Display.walls$IF_END23
label Display.walls$IF_TRUE23
push local 4
push constant 16384
sub
pop local 4
label Display.walls$IF_END23
push static 38
if-goto Display.walls$IF_TRUE24
goto Display.walls$IF_END24
label Display.walls$IF_TRUE24
push local 6
push constant 16384
sub
pop local 6
label Display.walls$IF_END24
label Display.walls$IF_END22
push static 14
push static 62
add
pop static 14
label Display.walls_WHILE_EXP10
push static 14
push constant 512
gt
not
if-goto Display.walls_WHILE_END10
push static 14
push constant 512
sub
pop static 14
push static 22
push constant 1
sub
pop static 22
push static 46
push static 46
add
pop static 46
push static 54
push static 0
push static 22
add
pop pointer 1
push that 0
and
push constant 0
eq
not
pop static 30
push static 54
push static 46
and
push constant 0
eq
not
pop static 38
goto Display.walls_WHILE_EXP10
label Display.walls_WHILE_END10
push local 4
push static 6
push local 3
add
pop pointer 1
pop that 0
push local 6
push static 6
push local 5
add
pop pointer 1
pop that 0
push local 3
push constant 32
sub
pop local 3
push local 5
push constant 32
add
pop local 5
push local 4
push static 6
push local 3
add
pop pointer 1
pop that 0
push local 6
push static 6
push local 5
add
pop pointer 1
pop that 0
push local 3
push constant 32
sub
pop local 3
push local 5
push constant 32
add
pop local 5
push local 2
push constant 1
sub
pop local 2
goto Display.walls_WHILE_EXP2
label Display.walls_WHILE_END2
push local 1
push constant 1
add
pop local 1
push local 0
push constant 8
add
pop local 0
goto Display.walls_WHILE_EXP1
label Display.walls_WHILE_END1
push constant 0
return
function Display.scores 0
push static 2
push argument 0
call String.setInt 2
pop temp 0
push static 1
push argument 1
call String.setInt 2
pop temp 0
push constant 0
push constant 35
call Output.moveCursor 2
pop temp 0
push static 3
call Output.printString 1
pop temp 0
push static 2
call Output.printString 1
pop temp 0
push static 4
call Output.printString 1
pop temp 0
push static 1
call Output.printString 1
pop temp 0
push static 5
call Output.printString 1
pop temp 0
push constant 0
return
function Display.startUp 0
push constant 2
push constant 18
push constant 24
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 32
call String.appendChar 2
call Display.printString 3
pop temp 0
push constant 4
push constant 18
push constant 21
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
call Display.printString 3
pop temp 0
push constant 5
push constant 18
push constant 31
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
call Display.printString 3
pop temp 0
push constant 6
push constant 18
push constant 25
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
call Display.printString 3
pop temp 0
push constant 7
push constant 18
push constant 25
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
call Display.printString 3
pop temp 0
push constant 8
push constant 18
push constant 28
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
call Display.printString 3
pop temp 0
push constant 9
push constant 18
push constant 26
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
call Display.printString 3
pop temp 0
push constant 10
push constant 18
push constant 24
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
call Display.printString 3
pop temp 0
push constant 11
push constant 18
push constant 32
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 32
call String.appendChar 2
call Display.printString 3
pop temp 0
push constant 13
push constant 12
push constant 38
call String.new 1
push constant 69
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 73
call String.appendChar 2
call Display.printString 3
pop temp 0
push constant 19
push constant 0
push constant 45
call String.new 1
push constant 85
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 46
call String.appendChar 2
call Display.printString 3
pop temp 0
push constant 20
push constant 0
push constant 38
call String.new 1
push constant 68
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 46
call String.appendChar 2
call Display.printString 3
pop temp 0
push constant 22
push constant 0
push constant 60
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 91
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 93
call String.appendChar 2
call Display.printString 3
pop temp 0
push constant 0
return
function Display.splash_screen 1
call Screen.clearScreen 0
pop temp 0
push constant 10
push constant 25
call Output.moveCursor 2
pop temp 0
push argument 0
call Output.printString 1
pop temp 0
push constant 11
push constant 25
call Output.moveCursor 2
pop temp 0
push argument 1
call Output.printString 1
pop temp 0
push constant 21
push constant 40
push constant 18
call String.new 1
push constant 74
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 55
call String.appendChar 2
call Display.printString 3
pop temp 0
label Display.splash_screen_WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto Display.splash_screen_WHILE_END1
call Keyboard.keyPressed 0
pop local 0
goto Display.splash_screen_WHILE_EXP1
label Display.splash_screen_WHILE_END1
push constant 0
return
function Display.printString 0
push argument 0
push argument 1
call Output.moveCursor 2
pop temp 0
push argument 2
call Output.printString 1
pop temp 0
push argument 2
call String.dispose 1
pop temp 0
push constant 0
return
function Display.cleanup 0
push static 0
call Memory.deAlloc 1
pop temp 0
push static 1
call String.dispose 1
pop temp 0
push static 2
call String.dispose 1
pop temp 0
push static 3
call String.dispose 1
pop temp 0
push static 4
call String.dispose 1
pop temp 0
push static 5
call String.dispose 1
pop temp 0
push constant 0
return
function Display.drawSightClear 0
push static 6
push constant 3887
add
pop pointer 1
push that 0
push constant 32767
not
or
push static 6
push constant 3887
add
pop pointer 1
pop that 0
push static 6
push constant 3888
add
pop pointer 1
push that 0
push constant 1
or
push static 6
push constant 3888
add
pop pointer 1
pop that 0
push static 6
push constant 3919
add
pop pointer 1
push that 0
push constant 32767
not
or
push static 6
push constant 3919
add
pop pointer 1
pop that 0
push static 6
push constant 3920
add
pop pointer 1
push that 0
push constant 1
or
push static 6
push constant 3920
add
pop pointer 1
pop that 0
push static 6
push constant 3951
add
pop pointer 1
push that 0
push constant 32767
not
or
push static 6
push constant 3951
add
pop pointer 1
pop that 0
push static 6
push constant 3952
add
pop pointer 1
push that 0
push constant 1
or
push static 6
push constant 3952
add
pop pointer 1
pop that 0
push static 6
push constant 3983
add
pop pointer 1
push that 0
push constant 32767
not
or
push static 6
push constant 3983
add
pop pointer 1
pop that 0
push static 6
push constant 3984
add
pop pointer 1
push that 0
push constant 1
or
push static 6
push constant 3984
add
pop pointer 1
pop that 0
push static 6
push constant 4015
add
pop pointer 1
push that 0
push constant 32767
not
or
push static 6
push constant 4015
add
pop pointer 1
pop that 0
push static 6
push constant 4016
add
pop pointer 1
push that 0
push constant 1
or
push static 6
push constant 4016
add
pop pointer 1
pop that 0
push static 6
push constant 4047
add
pop pointer 1
push that 0
push constant 32767
not
or
push static 6
push constant 4047
add
pop pointer 1
pop that 0
push static 6
push constant 4048
add
pop pointer 1
push that 0
push constant 1
or
push static 6
push constant 4048
add
pop pointer 1
pop that 0
push static 6
push constant 4079
add
pop pointer 1
push that 0
push constant 512
neg
or
push static 6
push constant 4079
add
pop pointer 1
pop that 0
push static 6
push constant 4080
add
pop pointer 1
push that 0
push constant 127
or
push static 6
push constant 4080
add
pop pointer 1
pop that 0
push static 6
push constant 4111
add
pop pointer 1
push that 0
push constant 512
neg
or
push static 6
push constant 4111
add
pop pointer 1
pop that 0
push static 6
push constant 4112
add
pop pointer 1
push that 0
push constant 127
or
push static 6
push constant 4112
add
pop pointer 1
pop that 0
push static 6
push constant 4143
add
pop pointer 1
push that 0
push constant 32767
not
or
push static 6
push constant 4143
add
pop pointer 1
pop that 0
push static 6
push constant 4144
add
pop pointer 1
push that 0
push constant 1
or
push static 6
push constant 4144
add
pop pointer 1
pop that 0
push static 6
push constant 4175
add
pop pointer 1
push that 0
push constant 32767
not
or
push static 6
push constant 4175
add
pop pointer 1
pop that 0
push static 6
push constant 4176
add
pop pointer 1
push that 0
push constant 1
or
push static 6
push constant 4176
add
pop pointer 1
pop that 0
push static 6
push constant 4207
add
pop pointer 1
push that 0
push constant 32767
not
or
push static 6
push constant 4207
add
pop pointer 1
pop that 0
push static 6
push constant 4208
add
pop pointer 1
push that 0
push constant 1
or
push static 6
push constant 4208
add
pop pointer 1
pop that 0
push static 6
push constant 4239
add
pop pointer 1
push that 0
push constant 32767
not
or
push static 6
push constant 4239
add
pop pointer 1
pop that 0
push static 6
push constant 4240
add
pop pointer 1
push that 0
push constant 1
or
push static 6
push constant 4240
add
pop pointer 1
pop that 0
push static 6
push constant 4271
add
pop pointer 1
push that 0
push constant 32767
not
or
push static 6
push constant 4271
add
pop pointer 1
pop that 0
push static 6
push constant 4272
add
pop pointer 1
push that 0
push constant 1
or
push static 6
push constant 4272
add
pop pointer 1
pop that 0
push static 6
push constant 4303
add
pop pointer 1
push that 0
push constant 32767
not
or
push static 6
push constant 4303
add
pop pointer 1
pop that 0
push static 6
push constant 4304
add
pop pointer 1
push that 0
push constant 1
or
push static 6
push constant 4304
add
pop pointer 1
pop that 0
push constant 0
return
function Display.drawSightFired 0
push static 6
push constant 3887
add
pop pointer 1
push that 0
push constant 32767
not
or
push static 6
push constant 3887
add
pop pointer 1
pop that 0
push static 6
push constant 3888
add
pop pointer 1
push that 0
push constant 65
or
push static 6
push constant 3888
add
pop pointer 1
pop that 0
push static 6
push constant 3919
add
pop pointer 1
push that 0
push constant 32767
not
or
push static 6
push constant 3919
add
pop pointer 1
pop that 0
push static 6
push constant 3920
add
pop pointer 1
push that 0
push constant 1
or
push static 6
push constant 3920
add
pop pointer 1
pop that 0
push static 6
push constant 3951
add
pop pointer 1
push that 0
push constant 8192
neg
or
push static 6
push constant 3951
add
pop pointer 1
pop that 0
push static 6
push constant 3952
add
pop pointer 1
push that 0
push constant 7
or
push static 6
push constant 3952
add
pop pointer 1
pop that 0
push static 6
push constant 3983
add
pop pointer 1
push that 0
push constant 8192
neg
or
push static 6
push constant 3983
add
pop pointer 1
pop that 0
push static 6
push constant 3984
add
pop pointer 1
push that 0
push constant 7
or
push static 6
push constant 3984
add
pop pointer 1
pop that 0
push static 6
push constant 4015
add
pop pointer 1
push that 0
push constant 2048
neg
or
push static 6
push constant 4015
add
pop pointer 1
pop that 0
push static 6
push constant 4016
add
pop pointer 1
push that 0
push constant 31
or
push static 6
push constant 4016
add
pop pointer 1
pop that 0
push static 6
push constant 4047
add
pop pointer 1
push that 0
push constant 2048
neg
or
push static 6
push constant 4047
add
pop pointer 1
pop that 0
push static 6
push constant 4048
add
pop pointer 1
push that 0
push constant 31
or
push static 6
push constant 4048
add
pop pointer 1
pop that 0
push static 6
push constant 4079
add
pop pointer 1
push that 0
push constant 512
neg
or
push static 6
push constant 4079
add
pop pointer 1
pop that 0
push static 6
push constant 4080
add
pop pointer 1
push that 0
push constant 127
or
push static 6
push constant 4080
add
pop pointer 1
pop that 0
push static 6
push constant 4111
add
pop pointer 1
push that 0
push constant 512
neg
or
push static 6
push constant 4111
add
pop pointer 1
pop that 0
push static 6
push constant 4112
add
pop pointer 1
push that 0
push constant 127
or
push static 6
push constant 4112
add
pop pointer 1
pop that 0
push static 6
push constant 4143
add
pop pointer 1
push that 0
push constant 2048
neg
or
push static 6
push constant 4143
add
pop pointer 1
pop that 0
push static 6
push constant 4144
add
pop pointer 1
push that 0
push constant 31
or
push static 6
push constant 4144
add
pop pointer 1
pop that 0
push static 6
push constant 4175
add
pop pointer 1
push that 0
push constant 2048
neg
or
push static 6
push constant 4175
add
pop pointer 1
pop that 0
push static 6
push constant 4176
add
pop pointer 1
push that 0
push constant 31
or
push static 6
push constant 4176
add
pop pointer 1
pop that 0
push static 6
push constant 4207
add
pop pointer 1
push that 0
push constant 7168
neg
or
push static 6
push constant 4207
add
pop pointer 1
pop that 0
push static 6
push constant 4208
add
pop pointer 1
push that 0
push constant 7
or
push static 6
push constant 4208
add
pop pointer 1
pop that 0
push static 6
push constant 4239
add
pop pointer 1
push that 0
push constant 8192
neg
or
push static 6
push constant 4239
add
pop pointer 1
pop that 0
push static 6
push constant 4240
add
pop pointer 1
push that 0
push constant 7
or
push static 6
push constant 4240
add
pop pointer 1
pop that 0
push static 6
push constant 4271
add
pop pointer 1
push that 0
push constant 32767
not
or
push static 6
push constant 4271
add
pop pointer 1
pop that 0
push static 6
push constant 4272
add
pop pointer 1
push that 0
push constant 1
or
push static 6
push constant 4272
add
pop pointer 1
pop that 0
push static 6
push constant 4303
add
pop pointer 1
push that 0
push constant 32767
not
or
push static 6
push constant 4303
add
pop pointer 1
pop that 0
push static 6
push constant 4304
add
pop pointer 1
push that 0
push constant 1
or
push static 6
push constant 4304
add
pop pointer 1
pop that 0
push constant 0
return
function Display.drawPistolClear 0
push static 6
push constant 6288
add
pop pointer 1
push that 0
push constant 16384
neg
or
push static 6
push constant 6288
add
pop pointer 1
pop that 0
push static 6
push constant 6320
add
pop pointer 1
push that 0
push constant 16384
neg
or
push static 6
push constant 6320
add
pop pointer 1
pop that 0
push static 6
push constant 6352
add
pop pointer 1
push that 0
push constant 4096
neg
or
push static 6
push constant 6352
add
pop pointer 1
pop that 0
push static 6
push constant 6353
add
pop pointer 1
push that 0
push constant 15
or
push static 6
push constant 6353
add
pop pointer 1
pop that 0
push static 6
push constant 6384
add
pop pointer 1
push that 0
push constant 4096
neg
or
push static 6
push constant 6384
add
pop pointer 1
pop that 0
push static 6
push constant 6385
add
pop pointer 1
push that 0
push constant 15
or
push static 6
push constant 6385
add
pop pointer 1
pop that 0
push static 6
push constant 6416
add
pop pointer 1
push that 0
push constant 1024
neg
or
push static 6
push constant 6416
add
pop pointer 1
pop that 0
push static 6
push constant 6417
add
pop pointer 1
push that 0
push constant 63
or
push static 6
push constant 6417
add
pop pointer 1
pop that 0
push static 6
push constant 6448
add
pop pointer 1
push that 0
push constant 1024
neg
or
push static 6
push constant 6448
add
pop pointer 1
pop that 0
push static 6
push constant 6449
add
pop pointer 1
push that 0
push constant 63
or
push static 6
push constant 6449
add
pop pointer 1
pop that 0
push static 6
push constant 6480
add
pop pointer 1
push that 0
push constant 1024
neg
or
push static 6
push constant 6480
add
pop pointer 1
pop that 0
push static 6
push constant 6481
add
pop pointer 1
push that 0
push constant 255
or
push static 6
push constant 6481
add
pop pointer 1
pop that 0
push static 6
push constant 6512
add
pop pointer 1
push that 0
push constant 1024
neg
or
push static 6
push constant 6512
add
pop pointer 1
pop that 0
push static 6
push constant 6513
add
pop pointer 1
push that 0
push constant 255
or
push static 6
push constant 6513
add
pop pointer 1
pop that 0
push static 6
push constant 6544
add
pop pointer 1
push that 0
push constant 1024
neg
or
push static 6
push constant 6544
add
pop pointer 1
pop that 0
push static 6
push constant 6545
add
pop pointer 1
push that 0
push constant 1023
or
push static 6
push constant 6545
add
pop pointer 1
pop that 0
push static 6
push constant 6576
add
pop pointer 1
push that 0
push constant 1024
neg
or
push static 6
push constant 6576
add
pop pointer 1
pop that 0
push static 6
push constant 6577
add
pop pointer 1
push that 0
push constant 1023
or
push static 6
push constant 6577
add
pop pointer 1
pop that 0
push static 6
push constant 6608
add
pop pointer 1
push that 0
push constant 4096
neg
or
push static 6
push constant 6608
add
pop pointer 1
pop that 0
push static 6
push constant 6609
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 6609
add
pop pointer 1
pop that 0
push static 6
push constant 6640
add
pop pointer 1
push that 0
push constant 4096
neg
or
push static 6
push constant 6640
add
pop pointer 1
pop that 0
push static 6
push constant 6641
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 6641
add
pop pointer 1
pop that 0
push static 6
push constant 6672
add
pop pointer 1
push that 0
push constant 16384
neg
or
push static 6
push constant 6672
add
pop pointer 1
pop that 0
push static 6
push constant 6673
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 6673
add
pop pointer 1
pop that 0
push static 6
push constant 6704
add
pop pointer 1
push that 0
push constant 16384
neg
or
push static 6
push constant 6704
add
pop pointer 1
pop that 0
push static 6
push constant 6705
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 6705
add
pop pointer 1
pop that 0
push static 6
push constant 6737
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 6737
add
pop pointer 1
pop that 0
push static 6
push constant 6738
add
pop pointer 1
push that 0
push constant 3
or
push static 6
push constant 6738
add
pop pointer 1
pop that 0
push static 6
push constant 6769
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 6769
add
pop pointer 1
pop that 0
push static 6
push constant 6770
add
pop pointer 1
push that 0
push constant 3
or
push static 6
push constant 6770
add
pop pointer 1
pop that 0
push static 6
push constant 6801
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 6801
add
pop pointer 1
pop that 0
push static 6
push constant 6802
add
pop pointer 1
push that 0
push constant 15
or
push static 6
push constant 6802
add
pop pointer 1
pop that 0
push static 6
push constant 6833
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 6833
add
pop pointer 1
pop that 0
push static 6
push constant 6834
add
pop pointer 1
push that 0
push constant 15
or
push static 6
push constant 6834
add
pop pointer 1
pop that 0
push static 6
push constant 6865
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 6865
add
pop pointer 1
pop that 0
push static 6
push constant 6866
add
pop pointer 1
push that 0
push constant 63
or
push static 6
push constant 6866
add
pop pointer 1
pop that 0
push static 6
push constant 6897
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 6897
add
pop pointer 1
pop that 0
push static 6
push constant 6898
add
pop pointer 1
push that 0
push constant 63
or
push static 6
push constant 6898
add
pop pointer 1
pop that 0
push static 6
push constant 6929
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 6929
add
pop pointer 1
pop that 0
push static 6
push constant 6930
add
pop pointer 1
push that 0
push constant 780
or
push static 6
push constant 6930
add
pop pointer 1
pop that 0
push static 6
push constant 6961
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 6961
add
pop pointer 1
pop that 0
push static 6
push constant 6962
add
pop pointer 1
push that 0
push constant 780
or
push static 6
push constant 6962
add
pop pointer 1
pop that 0
push static 6
push constant 6993
add
pop pointer 1
push that 0
push constant 16332
or
push static 6
push constant 6993
add
pop pointer 1
pop that 0
push static 6
push constant 6994
add
pop pointer 1
push that 0
push constant 768
or
push static 6
push constant 6994
add
pop pointer 1
pop that 0
push static 6
push constant 7025
add
pop pointer 1
push that 0
push constant 16332
or
push static 6
push constant 7025
add
pop pointer 1
pop that 0
push static 6
push constant 7026
add
pop pointer 1
push that 0
push constant 768
or
push static 6
push constant 7026
add
pop pointer 1
pop that 0
push static 6
push constant 7057
add
pop pointer 1
push that 0
push constant 196
neg
or
push static 6
push constant 7057
add
pop pointer 1
pop that 0
push static 6
push constant 7058
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7058
add
pop pointer 1
pop that 0
push static 6
push constant 7089
add
pop pointer 1
push that 0
push constant 196
neg
or
push static 6
push constant 7089
add
pop pointer 1
pop that 0
push static 6
push constant 7090
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7090
add
pop pointer 1
pop that 0
push static 6
push constant 7121
add
pop pointer 1
push that 0
push constant 784
neg
or
push static 6
push constant 7121
add
pop pointer 1
pop that 0
push static 6
push constant 7122
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7122
add
pop pointer 1
pop that 0
push static 6
push constant 7153
add
pop pointer 1
push that 0
push constant 784
neg
or
push static 6
push constant 7153
add
pop pointer 1
pop that 0
push static 6
push constant 7154
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7154
add
pop pointer 1
pop that 0
push static 6
push constant 7185
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 7185
add
pop pointer 1
pop that 0
push static 6
push constant 7186
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7186
add
pop pointer 1
pop that 0
push static 6
push constant 7217
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 7217
add
pop pointer 1
pop that 0
push static 6
push constant 7218
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7218
add
pop pointer 1
pop that 0
push static 6
push constant 7249
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 7249
add
pop pointer 1
pop that 0
push static 6
push constant 7250
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7250
add
pop pointer 1
pop that 0
push static 6
push constant 7281
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 7281
add
pop pointer 1
pop that 0
push static 6
push constant 7282
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7282
add
pop pointer 1
pop that 0
push static 6
push constant 7313
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 7313
add
pop pointer 1
pop that 0
push static 6
push constant 7314
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 7314
add
pop pointer 1
pop that 0
push static 6
push constant 7345
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 7345
add
pop pointer 1
pop that 0
push static 6
push constant 7346
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 7346
add
pop pointer 1
pop that 0
push static 6
push constant 7377
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 7377
add
pop pointer 1
pop that 0
push static 6
push constant 7378
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7378
add
pop pointer 1
pop that 0
push static 6
push constant 7379
add
pop pointer 1
push that 0
push constant 15
or
push static 6
push constant 7379
add
pop pointer 1
pop that 0
push static 6
push constant 7409
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 7409
add
pop pointer 1
pop that 0
push static 6
push constant 7410
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7410
add
pop pointer 1
pop that 0
push static 6
push constant 7411
add
pop pointer 1
push that 0
push constant 15
or
push static 6
push constant 7411
add
pop pointer 1
pop that 0
push static 6
push constant 7441
add
pop pointer 1
push that 0
push constant 64
neg
or
push static 6
push constant 7441
add
pop pointer 1
pop that 0
push static 6
push constant 7442
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7442
add
pop pointer 1
pop that 0
push static 6
push constant 7443
add
pop pointer 1
push that 0
push constant 48
or
push static 6
push constant 7443
add
pop pointer 1
pop that 0
push static 6
push constant 7473
add
pop pointer 1
push that 0
push constant 64
neg
or
push static 6
push constant 7473
add
pop pointer 1
pop that 0
push static 6
push constant 7474
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7474
add
pop pointer 1
pop that 0
push static 6
push constant 7475
add
pop pointer 1
push that 0
push constant 48
or
push static 6
push constant 7475
add
pop pointer 1
pop that 0
push static 6
push constant 7505
add
pop pointer 1
push that 0
push constant 4
neg
or
push static 6
push constant 7505
add
pop pointer 1
pop that 0
push static 6
push constant 7506
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7506
add
pop pointer 1
pop that 0
push static 6
push constant 7507
add
pop pointer 1
push that 0
push constant 192
or
push static 6
push constant 7507
add
pop pointer 1
pop that 0
push static 6
push constant 7537
add
pop pointer 1
push that 0
push constant 4
neg
or
push static 6
push constant 7537
add
pop pointer 1
pop that 0
push static 6
push constant 7538
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7538
add
pop pointer 1
pop that 0
push static 6
push constant 7539
add
pop pointer 1
push that 0
push constant 192
or
push static 6
push constant 7539
add
pop pointer 1
pop that 0
push static 6
push constant 7569
add
pop pointer 1
push that 0
push constant 49
neg
or
push static 6
push constant 7569
add
pop pointer 1
pop that 0
push static 6
push constant 7570
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7570
add
pop pointer 1
pop that 0
push static 6
push constant 7571
add
pop pointer 1
push that 0
push constant 192
or
push static 6
push constant 7571
add
pop pointer 1
pop that 0
push static 6
push constant 7601
add
pop pointer 1
push that 0
push constant 49
neg
or
push static 6
push constant 7601
add
pop pointer 1
pop that 0
push static 6
push constant 7602
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7602
add
pop pointer 1
pop that 0
push static 6
push constant 7603
add
pop pointer 1
push that 0
push constant 192
or
push static 6
push constant 7603
add
pop pointer 1
pop that 0
push static 6
push constant 7633
add
pop pointer 1
push that 0
push constant 973
neg
or
push static 6
push constant 7633
add
pop pointer 1
pop that 0
push static 6
push constant 7634
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7634
add
pop pointer 1
pop that 0
push static 6
push constant 7635
add
pop pointer 1
push that 0
push constant 768
or
push static 6
push constant 7635
add
pop pointer 1
pop that 0
push static 6
push constant 7665
add
pop pointer 1
push that 0
push constant 973
neg
or
push static 6
push constant 7665
add
pop pointer 1
pop that 0
push static 6
push constant 7666
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7666
add
pop pointer 1
pop that 0
push static 6
push constant 7667
add
pop pointer 1
push that 0
push constant 768
or
push static 6
push constant 7667
add
pop pointer 1
pop that 0
push static 6
push constant 7697
add
pop pointer 1
push that 0
push constant 4045
neg
or
push static 6
push constant 7697
add
pop pointer 1
pop that 0
push static 6
push constant 7698
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7698
add
pop pointer 1
pop that 0
push static 6
push constant 7699
add
pop pointer 1
push that 0
push constant 3072
or
push static 6
push constant 7699
add
pop pointer 1
pop that 0
push static 6
push constant 7729
add
pop pointer 1
push that 0
push constant 4045
neg
or
push static 6
push constant 7729
add
pop pointer 1
pop that 0
push static 6
push constant 7730
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7730
add
pop pointer 1
pop that 0
push static 6
push constant 7731
add
pop pointer 1
push that 0
push constant 3072
or
push static 6
push constant 7731
add
pop pointer 1
pop that 0
push static 6
push constant 7761
add
pop pointer 1
push that 0
push constant 16333
neg
or
push static 6
push constant 7761
add
pop pointer 1
pop that 0
push static 6
push constant 7762
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7762
add
pop pointer 1
pop that 0
push static 6
push constant 7763
add
pop pointer 1
push that 0
push constant 3072
or
push static 6
push constant 7763
add
pop pointer 1
pop that 0
push static 6
push constant 7793
add
pop pointer 1
push that 0
push constant 16333
neg
or
push static 6
push constant 7793
add
pop pointer 1
pop that 0
push static 6
push constant 7794
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7794
add
pop pointer 1
pop that 0
push static 6
push constant 7795
add
pop pointer 1
push that 0
push constant 3072
or
push static 6
push constant 7795
add
pop pointer 1
pop that 0
push static 6
push constant 7825
add
pop pointer 1
push that 0
push constant 12
or
push static 6
push constant 7825
add
pop pointer 1
pop that 0
push static 6
push constant 7826
add
pop pointer 1
push that 0
push constant 1023
or
push static 6
push constant 7826
add
pop pointer 1
pop that 0
push static 6
push constant 7827
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 7827
add
pop pointer 1
pop that 0
push static 6
push constant 7857
add
pop pointer 1
push that 0
push constant 12
or
push static 6
push constant 7857
add
pop pointer 1
pop that 0
push static 6
push constant 7858
add
pop pointer 1
push that 0
push constant 1023
or
push static 6
push constant 7858
add
pop pointer 1
pop that 0
push static 6
push constant 7859
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 7859
add
pop pointer 1
pop that 0
push static 6
push constant 7889
add
pop pointer 1
push that 0
push constant 12
or
push static 6
push constant 7889
add
pop pointer 1
pop that 0
push static 6
push constant 7890
add
pop pointer 1
push that 0
push constant 1020
or
push static 6
push constant 7890
add
pop pointer 1
pop that 0
push static 6
push constant 7891
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 7891
add
pop pointer 1
pop that 0
push static 6
push constant 7921
add
pop pointer 1
push that 0
push constant 12
or
push static 6
push constant 7921
add
pop pointer 1
pop that 0
push static 6
push constant 7922
add
pop pointer 1
push that 0
push constant 1020
or
push static 6
push constant 7922
add
pop pointer 1
pop that 0
push static 6
push constant 7923
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 7923
add
pop pointer 1
pop that 0
push static 6
push constant 7953
add
pop pointer 1
push that 0
push constant 48
or
push static 6
push constant 7953
add
pop pointer 1
pop that 0
push static 6
push constant 7954
add
pop pointer 1
push that 0
push constant 48
or
push static 6
push constant 7954
add
pop pointer 1
pop that 0
push static 6
push constant 7955
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 7955
add
pop pointer 1
pop that 0
push static 6
push constant 7985
add
pop pointer 1
push that 0
push constant 48
or
push static 6
push constant 7985
add
pop pointer 1
pop that 0
push static 6
push constant 7986
add
pop pointer 1
push that 0
push constant 48
or
push static 6
push constant 7986
add
pop pointer 1
pop that 0
push static 6
push constant 7987
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 7987
add
pop pointer 1
pop that 0
push static 6
push constant 8017
add
pop pointer 1
push that 0
push constant 192
or
push static 6
push constant 8017
add
pop pointer 1
pop that 0
push static 6
push constant 8019
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 8019
add
pop pointer 1
pop that 0
push static 6
push constant 8049
add
pop pointer 1
push that 0
push constant 192
or
push static 6
push constant 8049
add
pop pointer 1
pop that 0
push static 6
push constant 8051
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 8051
add
pop pointer 1
pop that 0
push static 6
push constant 8081
add
pop pointer 1
push that 0
push constant 768
or
push static 6
push constant 8081
add
pop pointer 1
pop that 0
push static 6
push constant 8083
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 8083
add
pop pointer 1
pop that 0
push static 6
push constant 8113
add
pop pointer 1
push that 0
push constant 768
or
push static 6
push constant 8113
add
pop pointer 1
pop that 0
push static 6
push constant 8115
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 8115
add
pop pointer 1
pop that 0
push static 6
push constant 8145
add
pop pointer 1
push that 0
push constant 3072
or
push static 6
push constant 8145
add
pop pointer 1
pop that 0
push static 6
push constant 8147
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 8147
add
pop pointer 1
pop that 0
push static 6
push constant 8177
add
pop pointer 1
push that 0
push constant 3072
or
push static 6
push constant 8177
add
pop pointer 1
pop that 0
push static 6
push constant 8179
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 8179
add
pop pointer 1
pop that 0
push constant 0
return
function Display.drawPistolFired 0
push static 6
push constant 6160
add
pop pointer 1
push that 0
push constant 64
neg
or
push static 6
push constant 6160
add
pop pointer 1
pop that 0
push static 6
push constant 6161
add
pop pointer 1
push that 0
push constant 255
or
push static 6
push constant 6161
add
pop pointer 1
pop that 0
push static 6
push constant 6192
add
pop pointer 1
push that 0
push constant 64
neg
or
push static 6
push constant 6192
add
pop pointer 1
pop that 0
push static 6
push constant 6193
add
pop pointer 1
push that 0
push constant 255
or
push static 6
push constant 6193
add
pop pointer 1
pop that 0
push static 6
push constant 6224
add
pop pointer 1
push that 0
push constant 784
neg
or
push static 6
push constant 6224
add
pop pointer 1
pop that 0
push static 6
push constant 6225
add
pop pointer 1
push that 0
push constant 1023
or
push static 6
push constant 6225
add
pop pointer 1
pop that 0
push static 6
push constant 6256
add
pop pointer 1
push that 0
push constant 784
neg
or
push static 6
push constant 6256
add
pop pointer 1
pop that 0
push static 6
push constant 6257
add
pop pointer 1
push that 0
push constant 1023
or
push static 6
push constant 6257
add
pop pointer 1
pop that 0
push static 6
push constant 6288
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 6288
add
pop pointer 1
pop that 0
push static 6
push constant 6289
add
pop pointer 1
push that 0
push constant 831
or
push static 6
push constant 6289
add
pop pointer 1
pop that 0
push static 6
push constant 6320
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 6320
add
pop pointer 1
pop that 0
push static 6
push constant 6321
add
pop pointer 1
push that 0
push constant 831
or
push static 6
push constant 6321
add
pop pointer 1
pop that 0
push static 6
push constant 6352
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 6352
add
pop pointer 1
pop that 0
push static 6
push constant 6353
add
pop pointer 1
push that 0
push constant 1023
or
push static 6
push constant 6353
add
pop pointer 1
pop that 0
push static 6
push constant 6384
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 6384
add
pop pointer 1
pop that 0
push static 6
push constant 6385
add
pop pointer 1
push that 0
push constant 1023
or
push static 6
push constant 6385
add
pop pointer 1
pop that 0
push static 6
push constant 6416
add
pop pointer 1
push that 0
push constant 208
neg
or
push static 6
push constant 6416
add
pop pointer 1
pop that 0
push static 6
push constant 6417
add
pop pointer 1
push that 0
push constant 255
or
push static 6
push constant 6417
add
pop pointer 1
pop that 0
push static 6
push constant 6448
add
pop pointer 1
push that 0
push constant 208
neg
or
push static 6
push constant 6448
add
pop pointer 1
pop that 0
push static 6
push constant 6449
add
pop pointer 1
push that 0
push constant 255
or
push static 6
push constant 6449
add
pop pointer 1
pop that 0
push static 6
push constant 6480
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 6480
add
pop pointer 1
pop that 0
push static 6
push constant 6481
add
pop pointer 1
push that 0
push constant 255
or
push static 6
push constant 6481
add
pop pointer 1
pop that 0
push static 6
push constant 6512
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 6512
add
pop pointer 1
pop that 0
push static 6
push constant 6513
add
pop pointer 1
push that 0
push constant 255
or
push static 6
push constant 6513
add
pop pointer 1
pop that 0
push static 6
push constant 6544
add
pop pointer 1
push that 0
push constant 64
neg
or
push static 6
push constant 6544
add
pop pointer 1
pop that 0
push static 6
push constant 6545
add
pop pointer 1
push that 0
push constant 1023
or
push static 6
push constant 6545
add
pop pointer 1
pop that 0
push static 6
push constant 6576
add
pop pointer 1
push that 0
push constant 64
neg
or
push static 6
push constant 6576
add
pop pointer 1
pop that 0
push static 6
push constant 6577
add
pop pointer 1
push that 0
push constant 1023
or
push static 6
push constant 6577
add
pop pointer 1
pop that 0
push static 6
push constant 6608
add
pop pointer 1
push that 0
push constant 4096
neg
or
push static 6
push constant 6608
add
pop pointer 1
pop that 0
push static 6
push constant 6609
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 6609
add
pop pointer 1
pop that 0
push static 6
push constant 6640
add
pop pointer 1
push that 0
push constant 4096
neg
or
push static 6
push constant 6640
add
pop pointer 1
pop that 0
push static 6
push constant 6641
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 6641
add
pop pointer 1
pop that 0
push static 6
push constant 6672
add
pop pointer 1
push that 0
push constant 16384
neg
or
push static 6
push constant 6672
add
pop pointer 1
pop that 0
push static 6
push constant 6673
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 6673
add
pop pointer 1
pop that 0
push static 6
push constant 6704
add
pop pointer 1
push that 0
push constant 16384
neg
or
push static 6
push constant 6704
add
pop pointer 1
pop that 0
push static 6
push constant 6705
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 6705
add
pop pointer 1
pop that 0
push static 6
push constant 6737
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 6737
add
pop pointer 1
pop that 0
push static 6
push constant 6738
add
pop pointer 1
push that 0
push constant 3
or
push static 6
push constant 6738
add
pop pointer 1
pop that 0
push static 6
push constant 6769
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 6769
add
pop pointer 1
pop that 0
push static 6
push constant 6770
add
pop pointer 1
push that 0
push constant 3
or
push static 6
push constant 6770
add
pop pointer 1
pop that 0
push static 6
push constant 6801
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 6801
add
pop pointer 1
pop that 0
push static 6
push constant 6802
add
pop pointer 1
push that 0
push constant 15
or
push static 6
push constant 6802
add
pop pointer 1
pop that 0
push static 6
push constant 6833
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 6833
add
pop pointer 1
pop that 0
push static 6
push constant 6834
add
pop pointer 1
push that 0
push constant 15
or
push static 6
push constant 6834
add
pop pointer 1
pop that 0
push static 6
push constant 6865
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 6865
add
pop pointer 1
pop that 0
push static 6
push constant 6866
add
pop pointer 1
push that 0
push constant 63
or
push static 6
push constant 6866
add
pop pointer 1
pop that 0
push static 6
push constant 6897
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 6897
add
pop pointer 1
pop that 0
push static 6
push constant 6898
add
pop pointer 1
push that 0
push constant 63
or
push static 6
push constant 6898
add
pop pointer 1
pop that 0
push static 6
push constant 6929
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 6929
add
pop pointer 1
pop that 0
push static 6
push constant 6930
add
pop pointer 1
push that 0
push constant 780
or
push static 6
push constant 6930
add
pop pointer 1
pop that 0
push static 6
push constant 6961
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 6961
add
pop pointer 1
pop that 0
push static 6
push constant 6962
add
pop pointer 1
push that 0
push constant 780
or
push static 6
push constant 6962
add
pop pointer 1
pop that 0
push static 6
push constant 6993
add
pop pointer 1
push that 0
push constant 16332
or
push static 6
push constant 6993
add
pop pointer 1
pop that 0
push static 6
push constant 6994
add
pop pointer 1
push that 0
push constant 768
or
push static 6
push constant 6994
add
pop pointer 1
pop that 0
push static 6
push constant 7025
add
pop pointer 1
push that 0
push constant 16332
or
push static 6
push constant 7025
add
pop pointer 1
pop that 0
push static 6
push constant 7026
add
pop pointer 1
push that 0
push constant 768
or
push static 6
push constant 7026
add
pop pointer 1
pop that 0
push static 6
push constant 7057
add
pop pointer 1
push that 0
push constant 196
neg
or
push static 6
push constant 7057
add
pop pointer 1
pop that 0
push static 6
push constant 7058
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7058
add
pop pointer 1
pop that 0
push static 6
push constant 7089
add
pop pointer 1
push that 0
push constant 196
neg
or
push static 6
push constant 7089
add
pop pointer 1
pop that 0
push static 6
push constant 7090
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7090
add
pop pointer 1
pop that 0
push static 6
push constant 7121
add
pop pointer 1
push that 0
push constant 784
neg
or
push static 6
push constant 7121
add
pop pointer 1
pop that 0
push static 6
push constant 7122
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7122
add
pop pointer 1
pop that 0
push static 6
push constant 7153
add
pop pointer 1
push that 0
push constant 784
neg
or
push static 6
push constant 7153
add
pop pointer 1
pop that 0
push static 6
push constant 7154
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7154
add
pop pointer 1
pop that 0
push static 6
push constant 7185
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 7185
add
pop pointer 1
pop that 0
push static 6
push constant 7186
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7186
add
pop pointer 1
pop that 0
push static 6
push constant 7217
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 7217
add
pop pointer 1
pop that 0
push static 6
push constant 7218
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7218
add
pop pointer 1
pop that 0
push static 6
push constant 7249
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 7249
add
pop pointer 1
pop that 0
push static 6
push constant 7250
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7250
add
pop pointer 1
pop that 0
push static 6
push constant 7281
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 7281
add
pop pointer 1
pop that 0
push static 6
push constant 7282
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7282
add
pop pointer 1
pop that 0
push static 6
push constant 7313
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 7313
add
pop pointer 1
pop that 0
push static 6
push constant 7314
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 7314
add
pop pointer 1
pop that 0
push static 6
push constant 7345
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 7345
add
pop pointer 1
pop that 0
push static 6
push constant 7346
add
pop pointer 1
push that 0
push constant 1
neg
or
push static 6
push constant 7346
add
pop pointer 1
pop that 0
push static 6
push constant 7377
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 7377
add
pop pointer 1
pop that 0
push static 6
push constant 7378
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7378
add
pop pointer 1
pop that 0
push static 6
push constant 7379
add
pop pointer 1
push that 0
push constant 15
or
push static 6
push constant 7379
add
pop pointer 1
pop that 0
push static 6
push constant 7409
add
pop pointer 1
push that 0
push constant 16
neg
or
push static 6
push constant 7409
add
pop pointer 1
pop that 0
push static 6
push constant 7410
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7410
add
pop pointer 1
pop that 0
push static 6
push constant 7411
add
pop pointer 1
push that 0
push constant 15
or
push static 6
push constant 7411
add
pop pointer 1
pop that 0
push static 6
push constant 7441
add
pop pointer 1
push that 0
push constant 64
neg
or
push static 6
push constant 7441
add
pop pointer 1
pop that 0
push static 6
push constant 7442
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7442
add
pop pointer 1
pop that 0
push static 6
push constant 7443
add
pop pointer 1
push that 0
push constant 48
or
push static 6
push constant 7443
add
pop pointer 1
pop that 0
push static 6
push constant 7473
add
pop pointer 1
push that 0
push constant 64
neg
or
push static 6
push constant 7473
add
pop pointer 1
pop that 0
push static 6
push constant 7474
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7474
add
pop pointer 1
pop that 0
push static 6
push constant 7475
add
pop pointer 1
push that 0
push constant 48
or
push static 6
push constant 7475
add
pop pointer 1
pop that 0
push static 6
push constant 7505
add
pop pointer 1
push that 0
push constant 4
neg
or
push static 6
push constant 7505
add
pop pointer 1
pop that 0
push static 6
push constant 7506
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7506
add
pop pointer 1
pop that 0
push static 6
push constant 7507
add
pop pointer 1
push that 0
push constant 192
or
push static 6
push constant 7507
add
pop pointer 1
pop that 0
push static 6
push constant 7537
add
pop pointer 1
push that 0
push constant 4
neg
or
push static 6
push constant 7537
add
pop pointer 1
pop that 0
push static 6
push constant 7538
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7538
add
pop pointer 1
pop that 0
push static 6
push constant 7539
add
pop pointer 1
push that 0
push constant 192
or
push static 6
push constant 7539
add
pop pointer 1
pop that 0
push static 6
push constant 7569
add
pop pointer 1
push that 0
push constant 49
neg
or
push static 6
push constant 7569
add
pop pointer 1
pop that 0
push static 6
push constant 7570
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7570
add
pop pointer 1
pop that 0
push static 6
push constant 7571
add
pop pointer 1
push that 0
push constant 192
or
push static 6
push constant 7571
add
pop pointer 1
pop that 0
push static 6
push constant 7601
add
pop pointer 1
push that 0
push constant 49
neg
or
push static 6
push constant 7601
add
pop pointer 1
pop that 0
push static 6
push constant 7602
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7602
add
pop pointer 1
pop that 0
push static 6
push constant 7603
add
pop pointer 1
push that 0
push constant 192
or
push static 6
push constant 7603
add
pop pointer 1
pop that 0
push static 6
push constant 7633
add
pop pointer 1
push that 0
push constant 973
neg
or
push static 6
push constant 7633
add
pop pointer 1
pop that 0
push static 6
push constant 7634
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7634
add
pop pointer 1
pop that 0
push static 6
push constant 7635
add
pop pointer 1
push that 0
push constant 768
or
push static 6
push constant 7635
add
pop pointer 1
pop that 0
push static 6
push constant 7665
add
pop pointer 1
push that 0
push constant 973
neg
or
push static 6
push constant 7665
add
pop pointer 1
pop that 0
push static 6
push constant 7666
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7666
add
pop pointer 1
pop that 0
push static 6
push constant 7667
add
pop pointer 1
push that 0
push constant 768
or
push static 6
push constant 7667
add
pop pointer 1
pop that 0
push static 6
push constant 7697
add
pop pointer 1
push that 0
push constant 4045
neg
or
push static 6
push constant 7697
add
pop pointer 1
pop that 0
push static 6
push constant 7698
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7698
add
pop pointer 1
pop that 0
push static 6
push constant 7699
add
pop pointer 1
push that 0
push constant 3072
or
push static 6
push constant 7699
add
pop pointer 1
pop that 0
push static 6
push constant 7729
add
pop pointer 1
push that 0
push constant 4045
neg
or
push static 6
push constant 7729
add
pop pointer 1
pop that 0
push static 6
push constant 7730
add
pop pointer 1
push that 0
push constant 16383
or
push static 6
push constant 7730
add
pop pointer 1
pop that 0
push static 6
push constant 7731
add
pop pointer 1
push that 0
push constant 3072
or
push static 6
push constant 7731
add
pop pointer 1
pop that 0
push static 6
push constant 7761
add
pop pointer 1
push that 0
push constant 16333
neg
or
push static 6
push constant 7761
add
pop pointer 1
pop that 0
push static 6
push constant 7762
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7762
add
pop pointer 1
pop that 0
push static 6
push constant 7763
add
pop pointer 1
push that 0
push constant 3072
or
push static 6
push constant 7763
add
pop pointer 1
pop that 0
push static 6
push constant 7793
add
pop pointer 1
push that 0
push constant 16333
neg
or
push static 6
push constant 7793
add
pop pointer 1
pop that 0
push static 6
push constant 7794
add
pop pointer 1
push that 0
push constant 4095
or
push static 6
push constant 7794
add
pop pointer 1
pop that 0
push static 6
push constant 7795
add
pop pointer 1
push that 0
push constant 3072
or
push static 6
push constant 7795
add
pop pointer 1
pop that 0
push static 6
push constant 7825
add
pop pointer 1
push that 0
push constant 12
or
push static 6
push constant 7825
add
pop pointer 1
pop that 0
push static 6
push constant 7826
add
pop pointer 1
push that 0
push constant 1023
or
push static 6
push constant 7826
add
pop pointer 1
pop that 0
push static 6
push constant 7827
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 7827
add
pop pointer 1
pop that 0
push static 6
push constant 7857
add
pop pointer 1
push that 0
push constant 12
or
push static 6
push constant 7857
add
pop pointer 1
pop that 0
push static 6
push constant 7858
add
pop pointer 1
push that 0
push constant 1023
or
push static 6
push constant 7858
add
pop pointer 1
pop that 0
push static 6
push constant 7859
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 7859
add
pop pointer 1
pop that 0
push static 6
push constant 7889
add
pop pointer 1
push that 0
push constant 12
or
push static 6
push constant 7889
add
pop pointer 1
pop that 0
push static 6
push constant 7890
add
pop pointer 1
push that 0
push constant 1020
or
push static 6
push constant 7890
add
pop pointer 1
pop that 0
push static 6
push constant 7891
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 7891
add
pop pointer 1
pop that 0
push static 6
push constant 7921
add
pop pointer 1
push that 0
push constant 12
or
push static 6
push constant 7921
add
pop pointer 1
pop that 0
push static 6
push constant 7922
add
pop pointer 1
push that 0
push constant 1020
or
push static 6
push constant 7922
add
pop pointer 1
pop that 0
push static 6
push constant 7923
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 7923
add
pop pointer 1
pop that 0
push static 6
push constant 7953
add
pop pointer 1
push that 0
push constant 48
or
push static 6
push constant 7953
add
pop pointer 1
pop that 0
push static 6
push constant 7954
add
pop pointer 1
push that 0
push constant 48
or
push static 6
push constant 7954
add
pop pointer 1
pop that 0
push static 6
push constant 7955
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 7955
add
pop pointer 1
pop that 0
push static 6
push constant 7985
add
pop pointer 1
push that 0
push constant 48
or
push static 6
push constant 7985
add
pop pointer 1
pop that 0
push static 6
push constant 7986
add
pop pointer 1
push that 0
push constant 48
or
push static 6
push constant 7986
add
pop pointer 1
pop that 0
push static 6
push constant 7987
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 7987
add
pop pointer 1
pop that 0
push static 6
push constant 8017
add
pop pointer 1
push that 0
push constant 192
or
push static 6
push constant 8017
add
pop pointer 1
pop that 0
push static 6
push constant 8019
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 8019
add
pop pointer 1
pop that 0
push static 6
push constant 8049
add
pop pointer 1
push that 0
push constant 192
or
push static 6
push constant 8049
add
pop pointer 1
pop that 0
push static 6
push constant 8051
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 8051
add
pop pointer 1
pop that 0
push static 6
push constant 8081
add
pop pointer 1
push that 0
push constant 768
or
push static 6
push constant 8081
add
pop pointer 1
pop that 0
push static 6
push constant 8083
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 8083
add
pop pointer 1
pop that 0
push static 6
push constant 8113
add
pop pointer 1
push that 0
push constant 768
or
push static 6
push constant 8113
add
pop pointer 1
pop that 0
push static 6
push constant 8115
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 8115
add
pop pointer 1
pop that 0
push static 6
push constant 8145
add
pop pointer 1
push that 0
push constant 3072
or
push static 6
push constant 8145
add
pop pointer 1
pop that 0
push static 6
push constant 8147
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 8147
add
pop pointer 1
pop that 0
push static 6
push constant 8177
add
pop pointer 1
push that 0
push constant 3072
or
push static 6
push constant 8177
add
pop pointer 1
pop that 0
push static 6
push constant 8179
add
pop pointer 1
push that 0
push constant 12288
or
push static 6
push constant 8179
add
pop pointer 1
pop that 0
push constant 0
return
