function Screen.init 0
push constant 16384
pop static 0
push constant 0
not
pop static 1
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 1
push constant 0
return
function Screen.getScreenAddress 0
push constant 32
push argument 1
call Math.multiply 2
push argument 0
push constant 16
call Math.divide 2
add
return
function Screen.drawPixel 3
push argument 0
push constant 0
lt
push argument 1
push constant 0
lt
or
push argument 0
push constant 511
gt
or
push argument 1
push constant 255
gt
or
push constant 0
eq
if-goto Screen.drawPixel.IfElse1
push constant 7
call Sys.error 1
pop temp 0
label Screen.drawPixel.IfElse1
push argument 0
push argument 1
call Screen.getScreenAddress 2
pop local 0
push argument 0
push constant 16
call Math.mod 2
call Math.getTwoRaisedTo 1
pop local 2
push static 0
push local 0
add
call Memory.peek 1
pop local 1
push static 1
push constant 0
eq
if-goto Screen.drawPixel.IfElse2
push static 0
push local 0
add
push local 1
push local 2
or
call Memory.poke 2
pop temp 0
label Screen.drawPixel.IfElse2
push static 0
push local 0
add
push local 1
push local 2
not
and
call Memory.poke 2
pop temp 0
push constant 0
return
function Screen.drawLine 7
push argument 1
push argument 3
eq
push constant 0
eq
if-goto Screen.drawLine.IfElse1
push argument 0
push argument 2
eq
push constant 0
eq
if-goto Screen.drawLine.IfElse2
push argument 0
push argument 1
call Screen.drawPixel 2
pop temp 0
push constant 0
return
label Screen.drawLine.IfElse2
push argument 0
push argument 2
push argument 1
call Screen.drawHorizontalLine 3
pop temp 0
push constant 0
return
label Screen.drawLine.IfElse1
push argument 0
push argument 2
eq
push constant 0
eq
if-goto Screen.drawLine.IfElse3
push argument 0
push argument 1
push argument 3
call Screen.drawVerticalLine 3
pop temp 0
push constant 0
return
label Screen.drawLine.IfElse3
push argument 2
push argument 0
sub
pop local 3
push argument 3
push argument 1
sub
pop local 4
push local 3
push constant 0
lt
push constant 0
eq
if-goto Screen.drawLine.IfElse4
push constant 1
neg
pop local 5
label Screen.drawLine.IfElse4
push constant 1
pop local 5
push local 4
push constant 0
lt
push constant 0
eq
if-goto Screen.drawLine.IfElse5
push constant 1
neg
pop local 6
label Screen.drawLine.IfElse5
push constant 1
pop local 6
label WHILE_START_Screen.drawLine1
push argument 0
push local 0
add
push argument 2
sub
call Math.abs 1
push constant 0
gt
push argument 1
push local 1
add
push argument 3
sub
call Math.abs 1
push constant 0
gt
or
push constant 0
eq
if-goto WHILE_END_Screen.drawLine1
push argument 0
push local 0
add
push argument 1
push local 1
add
call Screen.drawPixel 2
pop temp 0
push local 2
push constant 0
lt
push constant 0
eq
if-goto Screen.drawLine.IfElse6
push local 0
push local 5
add
pop local 0
push local 2
push local 4
call Math.abs 1
add
pop local 2
label Screen.drawLine.IfElse6
push local 1
push local 6
add
pop local 1
push local 2
push local 3
call Math.abs 1
sub
pop local 2
goto WHILE_START_Screen.drawLine1
label WHILE_END_Screen.drawLine1
push constant 0
return
function Screen.drawVerticalLine 1
push argument 1
push argument 2
gt
push constant 0
eq
if-goto Screen.drawVerticalLine.IfElse1
push argument 0
push argument 2
push argument 1
call Screen.drawVerticalLine 3
pop temp 0
push constant 0
return
label Screen.drawVerticalLine.IfElse1
push argument 1
pop local 0
label WHILE_START_Screen.drawVerticalLine1
push local 0
push argument 2
gt
not
push constant 0
eq
if-goto WHILE_END_Screen.drawVerticalLine1
push argument 0
push local 0
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_START_Screen.drawVerticalLine1
label WHILE_END_Screen.drawVerticalLine1
push constant 0
return
function Screen.drawHorizontalLine 2
push argument 0
push argument 1
gt
push constant 0
eq
if-goto Screen.drawHorizontalLine.IfElse1
push argument 1
push argument 0
push argument 2
call Screen.drawHorizontalLine 3
pop temp 0
push constant 0
return
label Screen.drawHorizontalLine.IfElse1
push argument 0
pop local 0
label WHILE_START_Screen.drawHorizontalLine1
push local 0
push argument 1
gt
not
push constant 0
eq
if-goto WHILE_END_Screen.drawHorizontalLine1
push local 0
push constant 16
call Math.mod 2
push constant 0
eq
not
push local 0
push constant 15
add
push argument 1
gt
or
push constant 0
eq
if-goto Screen.drawHorizontalLine.IfElse2
push local 0
push argument 2
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
label Screen.drawHorizontalLine.IfElse2
push local 0
push argument 2
call Screen.getScreenAddress 2
pop local 1
push static 1
push constant 0
eq
if-goto Screen.drawHorizontalLine.IfElse3
push static 0
push local 1
add
push constant 1
neg
call Memory.poke 2
pop temp 0
label Screen.drawHorizontalLine.IfElse3
push static 0
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 16
add
pop local 0
goto WHILE_START_Screen.drawHorizontalLine1
label WHILE_END_Screen.drawHorizontalLine1
push constant 0
return
function Screen.drawCircle 2
push argument 2
push constant 181
gt
push constant 0
eq
if-goto Screen.drawCircle.IfElse1
push constant 13
call Sys.error 1
pop temp 0
label Screen.drawCircle.IfElse1
push argument 2
neg
pop local 0
label WHILE_START_Screen.drawCircle1
push local 0
push argument 2
gt
not
push constant 0
eq
if-goto WHILE_END_Screen.drawCircle1
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
pop local 1
push argument 0
push local 1
sub
push argument 1
push local 0
add
push argument 0
push local 1
add
push argument 1
push local 0
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_START_Screen.drawCircle1
label WHILE_END_Screen.drawCircle1
push constant 0
return
function Screen.drawRectangle 1
push argument 1
push argument 3
gt
push constant 0
eq
if-goto Screen.drawRectangle.IfElse1
push argument 2
push argument 3
push argument 0
push argument 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
label Screen.drawRectangle.IfElse1
push argument 1
pop local 0
label WHILE_START_Screen.drawRectangle1
push local 0
push argument 3
gt
not
push constant 0
eq
if-goto WHILE_END_Screen.drawRectangle1
push argument 0
push argument 2
push local 0
call Screen.drawHorizontalLine 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_START_Screen.drawRectangle1
label WHILE_END_Screen.drawRectangle1
push constant 0
return
